tr(class="bg-gray-200 border-b")
  td(class="text-sm text-gray-900 font-light px-2 py-4 whitespace-nowrap")
    span(class="relative form-floating")
      input(
        type="text",
        class="form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none",
        id="description",
        placeholder="What did you do?")
      label(for="description" class="text-gray-700") What did you do?
  td(class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap")
    span(class="relative form-floating")
      input(
        type="datetime-local",
        required="true",
        class="form-control block w-full pl-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none",
        id="start")
      label(for="start" class="text-gray-700") Start
  td(class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap")
    span(class="relative form-floating")
      input(
        type="datetime-local",
        required="true",
        class="form-control block w-full pl-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none",
        id="end")
      label(for="end" class="text-gray-700") End
  td(class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap")
    span(class="relative form-floating")
      input(
        type="text",
        class="form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none",
        id="keywords",
        placeholder="Keywords")
      label(for="keywords" class="text-gray-700") Keywords
  td(class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap")
    button(type="submit", class="px-7 py-3 bg-lime-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-lime-700 hover:shadow-lg focus:bg-lime-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-lime-800 active:shadow-lg transition duration-150 ease-in-out") Add