div(class="flex flex-col")
  div(class="overflow-x-auto sm:-mx-6 lg:-mx-8")
    div(class="py-2 inline-block min-w-full sm:px-6 lg:px-8")
      div(class="overflow-hidden")
        table(class="min-w-full")
          thead(class="bg-white border-b bg-purple-700 text-slate-50")
            tr
              th(scope="col", class="text-sm font-light px-6 py-4 text-left w-1/4 rounded-tl-lg") Description
              th(scope="col", class="text-sm font-light px-6 py-4 text-left") Start
              th(scope="col", class="text-sm font-light px-6 py-4 text-left") End
              th(scope="col", class="text-sm font-light px-6 py-4 text-left") Keywords
              th(scope="col", class="text-sm font-light px-6 py-4 text-left rounded-tr-lg") Duration
          tbody#content-add
            include ../add_row.pug
          tbody#content-rows
            tr
              td(colspan="5", class="px-6 py-4")
                div(class="flex items-center justify-center")
                  div(class="spinner-border animate-spin inline-block w-5 h-5 border-4 rounded-full text-lime-600", role="status")
          tfoot
            include ./total_row.pug

        template#entry-row
          include ./rows.pug
