
tr(class="bg-white border-b transition duration-300 ease-in-out hover:bg-gray-100")
  td(data-template-hook="description", class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap")
  td(data-template-hook="startTransformed", class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap")
  td(data-template-hook="endTransformed", class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap")
  td(data-template-hook="keywords", class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap")
  td(data-template-hook="duration", class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap")