doctype html
html(lang="en")
  head
    style
      include index.css
  body
    main(class="w-9/12 mx-auto")
      h1(class="my-4 text-2xl font-semibold") Time Registration
      form#add-new-time
        include components/table/index.pug
    script(src="index.js", type="module")
